
.home {
  text-align: center;
  padding: 5px;
}

.home .header {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .header img {
    margin-right: 15px;
}